/*
Папка для стилевых файлов.

--

Пример структуры файлов:

css/
| - style.css
| - normalize.css
| - [другие *.css файлы]
*/




body {
  font-size: 12px;
  line-height: 1;
  color: black;
  font-weight: normal;
  font-family: "PT Sans", "Myriad Pro", sans-serif;
  background: #ffffff;
}

/*  "Myriad Pro"  добавила, так как он "высвечивался" при определенном наведении на поля форм, вот только не знаю - он стандартный или нет? И еще: вообще нужен ли он? Какой стандартный шрифт нужно задать, как "запасной"?   */

h1 {
  font-size: 18px;
  color: #000000;
  font-weight: normal;
}

h2 {
  font-size: 16px;
  color:  #000000;
  font-weight: normal;
}






.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	
	width: 100%;
	min-width: 768px;
	max-width: 1200px;
	
	box-shadow: 11px 0 10px -10px #dbdbdb,
		          -11px 0 10px -10px #dbdbdb,
		          500px 0 0 0 #f2f2f2,
		          -500px 0 0 0 #f2f2f2;
}



/*   header   */



.header {
	position: relative;
	min-height: 58px;
}

.logo {
	position: absolute;
	left: 50%;
	top: 0%;
	margin-left: -69px;
	cursor: pointer;
}

.main-navigation-list {
	padding: 0px;
	
}

.main-navigation-item {
	display: inline-block;
	width: 20%;
	padding-top: 2px;
	list-style-type: none;
	vertical-align: top;
	text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.main-navigation-item:nth-child(1) {
  margin-left: 6%;
	text-align:left;
}

.main-navigation-item:nth-child(2) {
  margin-right: 7%;
	text-align:left;
}

.main-navigation-item:nth-child(3) {
	text-align:right;
}

.main-navigation-item:nth-child(4) {
	text-align:right;
}

.main-navigation-link{
	color: #111111;
  text-decoration: none;
	cursor: pointer;
}

.main-navigation-link:hover {
  color: #81b3d2;
}

.main-navigation-link:active {
  color: #b2b2b2;
}



/*    main   */



.main {
	
}








.footer {
	
}












/* .sprite */

.sprite {
    background-image: url(//img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Youtube {
    width: 20px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-Youtube-blue {
    width: 20px;
    height: 16px;
    background-position: -10px -46px;
}

.sprite-arrow-down-black {
    width: 11px;
    height: 10px;
    background-position: -10px -82px;
}

.sprite-arrow-down-blue {
    width: 11px;
    height: 10px;
    background-position: -10px -112px;
}

.sprite-arrow-down-gray {
    width: 11px;
    height: 10px;
    background-position: -10px -142px;
}

.sprite-arrow-up-black {
    width: 11px;
    height: 10px;
    background-position: -10px -172px;
}

.sprite-arrow-up-blue {
    width: 11px;
    height: 10px;
    background-position: -10px -202px;
}

.sprite-arrow-up-gray {
    width: 11px;
    height: 10px;
    background-position: -10px -232px;
}

.sprite-calendar-black {
    width: 21px;
    height: 22px;
    background-position: -10px -262px;
}

.sprite-calendar-blue {
    width: 21px;
    height: 22px;
    background-position: -10px -304px;
}

.sprite-calendar-gray {
    width: 21px;
    height: 22px;
    background-position: -10px -346px;
}

.sprite-checkbox {
    width: 22px;
    height: 22px;
    background-position: -10px -388px;
}

.sprite-checkbox-checked {
    width: 26px;
    height: 22px;
    background-position: -10px -430px;
}

.sprite-checkbox-checked-gray {
    width: 26px;
    height: 22px;
    background-position: -10px -472px;
}

.sprite-checkbox-gray {
    width: 22px;
    height: 22px;
    background-position: -10px -514px;
}

.sprite-facebook {
    width: 10px;
    height: 19px;
    background-position: -10px -556px;
}

.sprite-facebook-blue {
    width: 10px;
    height: 19px;
    background-position: -10px -595px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -10px -634px;
}

.sprite-housing {
    width: 75px;
    height: 72px;
    background-position: -10px -724px;
}

.sprite-html-academy-black {
    width: 113px;
    height: 39px;
    background-position: -10px -816px;
}

.sprite-html-academy-blue {
    width: 113px;
    height: 39px;
    background-position: -10px -875px;
}

.sprite-html-academy-gray {
    width: 113px;
    height: 39px;
    background-position: -10px -934px;
}

.sprite-souvenirs {
    width: 64px;
    height: 76px;
    background-position: -10px -993px;
}

.sprite-twitter {
    width: 17px;
    height: 15px;
    background-position: -10px -1089px;
}

.sprite-twitter-blue {
    width: 17px;
    height: 15px;
    background-position: -10px -1124px;
}



